.mes {
	border: 1px solid black;
	width: 300px;
	text-align: center;
	line-height: 30px;
}

.user {
	height: 30px;
	float: right;
}

.sub_input {
	font-size: 15px;
	background: #FFF;
	border-radius: 1px solid #CCC;
	padding: 10px 25px 10px 25px;
	color: #333;
	border-radius: 4px;
}

.sub_input:hover {
	color: #333;
	background-color: #EBEBEB;
	border-color: #ADADAD;
}